*, 
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

body {
  background-color: wheat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.startGameBtn,
.restartBtn {
  display: inline-block;
  margin-top: 60px;
  margin-left: 60px;
  height: 60px;
  width: 200px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
}

.startGameBtn {
  background-color: rgb(0, 128, 66);
  color: white;
  border: 1px solid rgb(0, 128, 66);;
}

.startGameBtn[disabled] {
  background-color: gray;
  opacity: 0.6;
  color: silver;
}

.restartBtn {
  background-color: red;
  color: white;
  border: 1px solid red;
}

ul li {
  list-style: none;
}



.gameBoard {
  display: grid;
  grid-template: repeat(3, 126px) / repeat(3, 126px);
  margin-top: 100px;
  position: relative;
}

.gameBoard button {
  height: 100%;
  width: 100%;
  font-size: 64px;
}

.gameBoard button[class="gameStarted"] {
  background-color: thistle;  /*rosybrown*/
  border: 1px solid gray;
}

.gameBoard button[class="player1"] {
  background-color: lightblue;
  color: white;
  border: 1px solid gray;
}

.gameBoard button[class="player2"] {
  background-color: lightgreen;
  color: white;
  border: 1px solid gray;
}

.gameBoard.draw::before {
  content: "DRAW";
  position: absolute;
  left: 175px;
  top: 165px;
  font-size: 32px;
}

.gameBoard button[class="winnerNone"] {
  background-color: orange;
  border: none;
}

.gameBoard.player1won::before {
  content: "Player1 WON";
  position: absolute;
  left: 150px;
  top: 165px;
  font-size: 32px;
}

.gameBoard button[class="winnerPlayer1"] {
  background-color: lightblue;
  border: none;
}

.gameBoard.player2won::before {
  content: "Player2 WON";
  position: absolute;
  left: 150px;
  top: 165px;
  font-size: 32px;
}

.gameBoard button[class="winnerPlayer2"] {
  background-color: lightgreen;
    border: none;
}