*, 
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

body {
  background-color: grey;
}

ul li {
  list-style: none;
}

.gameBoard {
  display: grid;
  grid-template: 100px 100px 100px / 100px 100px 100px
}

.gameBoard button {
  height: 100%;
  width: 100%;
  font-size: 64px;
}

.gameBoard button[class="player1"] {
  background-color: lightblue;
  color: white;
  border: none;
}

.gameBoard button[class="player2"] {
  background-color: lightgreen;
  color: white;
  border: none;
}